extends _layout

block styles

    link(href='/static/bower_components/material-kit/assets/css/material-kit.css', rel='stylesheet')

    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

block content
    .container
            .row
                .col-md-8.col-md-offset-2
                    .card.card-signup
                        form.form(method="post" enctype="multipart/form-data")
                            .header.header-info.text-center(style="height: 50%;")
                                br
                                br
                                br
                                br
                                h2 Create Post
                                .social-line
                            .input-group
                                span.input-group-addon
                                    i.material-icons event_note
                                .form-group.is-empty.has-info
                                    input.form-control(type="text" id="title" placeholder="Title" name="title" class="form-control")
                            .input-group
                                span.input-group-addon
                                    i.material-icons event_note
                                .form-group.is-empty.has-info
                                    input.form-control(type="text" id="subTitle" placeholder="Sub title" name="subTitle" class="form-control")
                            .input-group
                                span.input-group-addon
                                    i.material-icons description
                                .form-group.is-empty.has-info
                                    textarea.form-control(id="description" type="text" name="description" placeholder="Description")
                            
                            .input-group
                               span.input-group-addon
                                   i.material-icons picture_in_picture
                               span.input-group-addon(style="display: block;") Upload Picture
                                   input(type="file" id="tb-blog" name="blogImage" value="Upload" class="btn btn-info")
                            div.container(id="map" style="height:300px;width:300px")
                            .footer.text-center
                                input(type="submit" id="create" class="btn btn-lg btn-info" value="Create")
                            
block scripts
    script(src="/static/utils/requester.js")
    script(src="/static/js/create-blogpost.js") 